body {
  background: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#kit {
  min-height: 90vh;
  margin-bottom: 200px;
}



.cardCss, #cardCss {
  background: url("background.png");
  background-size: 300% ;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: color;
  transition: all 1s;
  position: relative;
}

.cardCss:hover, #cardCss{
  background-color: rgba(0, 0, 0, .7)
}


ion-icon:not(.small){
  font-size: 100px;
  color: white;
  transition: all .3s;
}

ion-icon:hover{
  color: lightblue;
}

.unready > ion-icon{
  color: red !important;
}

.col-sm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

p {
  color: white;
}


#builders > .card-body{
  row-gap: 50px; column-gap: 50px;
}

#builders > .card-body > .card{
  max-width: 350px;
  transform: scale(1);
  transition: all .5s;
}

#builders > .card-body > .card:hover{
  transform: scale(1.05);
  background-color: lightblue;
}

#builders .small{
  font-size: 25px;
}

.col-gap-10 {
  column-gap: 10px;
}

img{
  max-height: 300px;
  max-width: 200px;
  margin: 0 auto;
}

